<div class="container">

  <h4>業務内容入力</h4>
  <p>
    求職者様は業務内容の内容をもとにフォローの可否を判断します。<br>
    出来るだけ漏れなく、具体的に入力を頂くことで相互フォローの確率が高まります。

  </p>

  <%= form_with model: @enterprise, local: true do |f| %>
    <%= f.label :business_content, "業務内容を入力 ※2,000字以内" %><br>
    <%= f.text_area :business_content, maxlength: 2000, size: "100x15" %><br>
    <%= f.submit "更新する", class: "btn btn-success" %><br>
  <% end %>

</div>