<div class="center">
  <h2>FDSは食品開発の中途採用に特化した求人サイトです。</h2>
  <div class="space"></div>
  <h5 class="text">
    食品開発員の採用活動は専門分野のスキルを把握する必要があり、<br>
    一般職の採用活動と比べて難易度が高いものです。<br>
    求められているスキルレベルがわからず、<br>
    採用活動を進めた結果、担当部署からのクレームが殺到。<br>
    このような経験はございませんでしょうか。<br>
    FDSは独自開発したスキル表を採用することで、<br>
    開発者様のスキルを<strong class="text-danger">『可視化』</strong>しております。<br>
    スキル表の回答結果から求職者様を検索出来るので、<br>
    <strong class="text-danger">効率良く、御社の求める人材にアプローチすることが可能</strong>です。
  </h5>
  <%=link_to "今すぐ会員登録する(無料)", new_enterprise_registration_path, class: "btn btn-success mt-5" %>
</div>