<div class="center">
  <h3 class="title">FDSは食品開発の中途採用に特化した求人サイトです。</h3>

  <h5 class="text">
    食品開発員の中途採用は、常に行われているものではありません。<br>
    限られた期間で無理に転職をしようとすれば、<br>
    前職で培ったスキルを活かせる企業への転職は非常に困難であると言えます。<br>
    場合によっては、現職よりも待遇が悪くなることもあるでしょう。<br>
    かといって長期に渡り能動的な就職活動を行いながら、<br>
    現職でのパフォーマンスを維持するのは精神的に体力的にも容易な事はでないと思います。<br>
    <br>
    よってFDSは、あなたの持つスキルを<strong class="text-danger">継続的にかつ無理をせず</strong>企業にアピールし続ける<br>
    ことが出来る環境こそ、妥協無い転職を実現する上で最も大切なものだと考えています。<br>
    <br>
    そのような環境を実現するため、<br>
    必要事項を記載後はスカウトを待つだけという<br>
    <strong class="text-danger">ダイレクトスカウト方式</strong><br>
    を採用しています。<br>
  </h5>

  <%= link_to "今すぐプロフィールを作成する(無料)", new_user_registration_path, class: "btn btn-success mt-5" %>

</div>
<div class="footer-space"></div>