
<div class="center">

  <p class="text-success mb-5"><%= flash[:notice] %></p>

  <h4>FDS（ロゴ）は食品開発の中途採用に特化した</h4>
  <h2 class="text-danger">ダイレクトスカウト方式を採用</h2>
  <br>
  <h4>独自に作成したアンケートを実施後</h4>
  <h4>必要事項を入力したら</h4>
  <br>
  <h2 class="text-danger">スカウトを待つだけ</h2>
  <br>
  <h4>あなたを欲する企業からチャットの招待が届きます</h4>
  <br>
  <%= link_to "今すぐプロフィールを作成する(無料)", new_user_registration_path, class: "btn btn-success mt-5" %>
</div>